---
- name: install tomcat9 
  hosts: all
  tasks:
   - name: s/w install tomcat9
     apt: 
      name: tomcat9
      state: present
      update_cache: yes
   - name: copy tomcat-users.xml
     copy:
      src: tomcat-users.xml
      dest: /etc/tomcat9
   - name: change portof tomcatfrom 8080 to 9090
     replace: 
      regexp: 8080
      replace: 9090
      path: /etc/tomcat9/server.xml
   - name: restart tomcat9
     service: 
      name:  tomcat9
      state: restarted
   - name: check tomcat response on server1
     uri:
      url: http://172.31.33.123
      status_code: 200
   - name: check tomcat response on server2
     uri:
      url: http://172.31.34.104
      status_code: 200
    