---
- name: install s/w application
  hosts: all
  tasks:
   - name:  install s/w
     apt:
      name:  "{{item}}"
      state: present 
      update_cache: yes
     with_items:
      - tree 
      - openjdk-8-jdk
      - maven 